<div class="rows">
  <div class="left-sidebar">
    <% @conversations.each do |conversation| %>
      <div class="conversation">
        <%= link_to conversation.subject, [@contact, conversation], data: { turbo_frame: 'conversation_show' } %>
      </div>
    <% end %>
  </div>
  <div>
    <%= turbo_frame_tag 'conversation_show' %>
  </div>
</div>