.left-sidebar {
  position: fixed;
  left: 0;
  top: 60px;
  display: flex;
  flex-direction: column;
  padding: var(--space-s);
  border-right: var(--border);
  min-height: calc(100vh - 60px);
  overflow-x: auto;
  max-height: calc(100vh - 60px);
  gap: var(--space-xs);
  width: 300px;
}